.mainList_container_main {
  width: 100vw;
  height: 200rem;
}

.mainList_container_filter {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_box_make {
  width: 25rem;
  height: 5rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.mainList_container_listings_wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.mainList_card {
  width: 25rem;
  height: 40rem;
  margin: 1rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

li {
  list-style-type: none;
  font-size: 1.75rem;
  text-align: left;
}

.data_year_model {
  font-size: 2rem;
  font-weight: 600;
}

.data_model,
.data_trim {
  font-size: 1.5rem;
}

.data_price {
  color: rgb(220, 169, 27);
}

/* Media Queries */

@media (min-width: 1280px) {
  .mainList_container_listings_wrapper {
    padding: 5rem;
  }
}
