.mainList_container_main {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

/* Filter Section */

.mainList_container_filter {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for each filter box */

.mainList_container_filter_box {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Filter Box to Sort by Make */

.filter_box_title {
  margin-bottom: 1rem;
  font-size: 1.65rem;
  letter-spacing: 0.2rem;
}

.filter_box_select {
  width: 26rem;
  height: 3rem;
  text-transform: uppercase;
  font-size: 1.65rem;
}

.filter_box_make > option {
  color: #fff;
  letter-spacing: 0.2rem;
  background-color: #000;
}

/* Rendered Data Container */

.mainList_container_listings_wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

/* Styling for Each Card */

.mainList_card {
  width: 25rem;
  height: 40rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.data_image_box {
  width: 100%;
  height: 40%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data_data_box {
  width: 100%;
  height: 60%;
}

li {
  list-style-type: none;
  font-size: 1.75rem;
  text-align: left;
}

.data_year_model {
  font-size: 2.2rem;
  font-weight: 600;
}

.data_model,
.data_trim {
  font-size: 1.5rem;
}

.data_price {
  color: rgb(220, 169, 27);
}

/* Media Queries */

@media (min-width: 768px) {
  .mainList_container_filter {
    width: 100%;
    height: 20rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainList_container_filter_box {
    margin: 0 2rem;
  }

  .mainList_container_listings_wrapper {
    padding-bottom: 10rem;
  }
}

@media (min-width: 1280px) {
  .mainList_container_main {
    width: 100vw;
  }

  .mainList_container_filter,
  .mainList_container_listings_wrapper {
    max-width: 140rem;
    margin: 0 auto;
  }

  .mainList_container_listings_wrapper {
    min-height: 100rem;
  }

  .filter_box_make {
    width: 30rem;
    height: 4rem;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
}
